@charset "UTF-8";
@media (max-width: 767px) {
	.game-box {
		margin-bottom: 20px;
		padding: 5px;
		border-radius: 10px;
		border: 1px solid #E5E5E5;
		height: 420px;
	}
	.game-icon {
		float: left;
		margin: 0 10px;
	}
	.game-icon-center {
		margin: 10px auto;
		width: 240px;
	}
	.game-description {
		margin: 10px;
	}
	.about-box {
		margin: 10px;
	}
}
@media (min-width: 768px) {
	.game-box {
		margin-top: 20px;
		margin-bottom: 30px;
		margin-left: 20px;
		margin-right: 20px;
		padding: 20px;
		border-radius: 10px;
		border: 1px solid #E5E5E5;
		height: 250px;
	}
	.game-left {
		float: right;
		width: 40%;
	}
	.game-right {
		float: right;
		width: 60%;
	}
	.game-icon {
		float: left;
	}
	.game-icon-center {
		margin: 0 auto;
		width: 205px;
	}
	.game-description {
		margin-top: 15px;
		font-size: 18px;
	}
	.clear {
		clear: both;
	}
	.even-row {
		float: right;
	}
	.entry-content {
		margin-bottom: 20px;
	}
	.collapsed {
		height: 290px;
		overflow: hidden;
	}
	.more-btn {
		margin-left: -33px;
	}
	.icon-resize {
		width: 96px;
		height: 96px;
		margin-left: 4px;
	}
	.icon-resize-ios {
		width: 96px;
		height: 96px;
	}
	.banner-resize {
		width: 400px;
		height: 209px;
	}

	.about-box {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 50px;
		margin-right: 50px;
		font-size: 18px;
	}
	.about-address {
		float: right;
		width: 300px;
		text-align: right!important;
		margin-right: 20px;
	}
}